<!DOCTYPE html>
<html>
<head>
    <title>Informations Client en Session</title>
</head>
<body>
    <h1>Informations Personnelles du Client en Session</h1>
    <ul>
        <li><strong>Nom:</strong> {{ nom }}</li>
        <li><strong>Prénom:</strong> {{ prenom }}</li>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Téléphone:</strong> {{ telephone }}</li>
        <li><strong>Mot de passe:</strong> {{ motdepasse }}</li>
    </ul>
</body>
</html>
