
{% block body %}
{% include 'navbarback.html.twig' %}
<div class="container mt-5">
    <h1 class="mb-4 text-center text-uppercase">Liste des Commandes</h1>
    
    {% if commandesF|length > 0 %}
        <table class="table table-hover table-striped table-dark table-bordered">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Client</th>
                    <th scope="col">Total</th>
                    <th scope="col">État</th>
                    
                    <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for commandeF in commandesF %}
                    <tr class="text-center">
                        <th scope="row">{{ commandeF.id }}</th>
                        <td>{{ commandeF.idclientt.nom }} {{ commandeF.idclientt.prenom }}</td>
                        <td>{{ commandeF.total }} €</td>
                        <td>{{ commandeF.etat }}</td>
                      
                        
                            <td>
                                <a href="{{ path('commande_details', { 'id': commandeF.id }) }}" class="btn btn-info">
                                    Voir Détails
                                </a>
                            </td>
                            
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune commande disponible.</p>
    {% endif %}
</div>
{% endblock %}
