<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demander devis</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        {% include 'navbar.html.twig' %} 
    </header>

    <main>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    {% if message is not empty %}
                    <th scope="col" colspan="7">
                        <p>{{ message }}</p>
                    </th>
                    {% endif %}
                </tr>
                {% if panier is not empty %}
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Prix de la barre</th>
                    <th scope="col">Prix final</th>
                    <th scope="col">Longueur Mettre</th>
                    <th scope="col">Prix découpe (A revoir)</th>
                    <th scope="col">Poids</th>
                    <th scope="col">Prix Livraison</th>
                </tr>
               
            
                <tr>
                    <tfoot>
                        <td colspan="3" class="text-right"><strong>Total TTC:</strong></td>
                        <td class="text-right">{{ sommeTotal }} €</td>
                    </tfoot>

                    
                </tr>
                {% endif %}
            </thead>
           
            <tbody>
                {% for panier in panier %}
                <tr>
                    <td>{{ panier.getIdProduit().getNom() }}</td>
                    <td>{{ panier.quantite }}</td>
                    <td>{{ panier.getIdProduit().getprix() }} €</td>
                    <td>
                        {% if panier.quantite == 1 %}
                        {{ panier.getIdProduit().getprix() }} €
                        {% else %}
                        {{ panier.getIdProduit().getprix() * panier.quantite }} 
                        {% endif %}
                    </td>
                    <td>{{ panier.LongueurMetre }} Mètre</td>
                    <td>{{ panier.prixDecoupe }} €</td>
                    <td>{{ panier.Poids() }} Kg</td>
                    <td>{{ panier.prixLivraison}} € </td>

                   

                    

                    <td>
                       
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            <br>
            <br>
            <br>

            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><strong>Poids Total:</strong></td>
                    <td class="text-right" style="margin-right: -20px;">{{ poidsTotal }} Kg</td>
                </tr>
            </tfoot>
        </table>

        {# templates/soumettre_devis.html.twig #}

<form method="POST" action="{{ path('app_soumettre_devis') }}">
    <div class="mb-3">
        <label for="message" class="form-label">Ecrire votre Message</label>
        <textarea class="form-control" id="message" name="messageClient" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>

        
    </main>

    <style> 
        body {
            /*background-image: url("{{ asset('images/metal.jpg') }}");*/
            background-size: cover; /* Ajustez cette propriété selon vos besoins */
            background-position: center center; /* Ajustez cette propriété selpon vos besoins */
            background-repeat: no-repeat;
            /* Ajoutez d'autres styles au besoin */
        }
        /* Ajoutez d'autres styles CSS pour le contenu de la page */
    </style>

    <!-- Footer -->
    <footer>
        {% include 'footer.html.twig' %} 
    </footer>
    <!-- Footer -->
</body>
</html>
