<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de devis</title>
    <link rel="stylesheet" href="style.css"> <!-- Ajoutez le lien vers votre feuille de style CSS -->
</head>
<body>
    <header>
        {% include 'navbar.html.twig' %} 
    </header>

    <main>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    {% if message is not empty %}
                    <th colspan="7">
                        <p>{{ message }}</p>
                    </th>
                    {% endif %}
                </tr>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix de la barre</th>
                    <th>Prix final</th>
                    <th>Longueur Metre</th>
                    <th>Prix découpe</th>
                    <th>Poids</th>
                </tr>
            </thead>
            <tbody>
                {% for item in panier %}
                <tr>
                    <td>{{ item.getIdProduit().getNom() }}</td>
                    <td>{{ item.quantite }}</td>
                    <td>{{ item.getIdProduit().getprix() }} €</td>
                    <td>
                        {% if item.quantite == 1 %}
                        {{ item.getIdProduit().getprix() }} €
                        {% else %}
                        {{ item.getIdProduit().getprix() * item.quantite }} €
                        {% endif %}
                    </td>
                    <td>{{ item.LongueurMetre }} Mètre</td>
                    <td>{{ item.prixDecoupe }} €</td>
                    <td>{{ item.Poids() }} Kg</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if panier is not empty %}
                <tr>
                    <td colspan="3" class="text-right"><strong>Total TTC:</strong></td>
                    <td class="text-right">{{ sommeTotal }} €</td>
                    <td colspan="3"></td> <!-- Colonne vide pour aligner le total -->
                </tr>
                {% endif %}
                <tr>
                    <td colspan="3" class="text-right"><strong>Poids Total:</strong></td>
                    <td class="text-right">{{ poidsTotal }} Kg</td>
                    <td colspan="3"></td> <!-- Colonne vide pour aligner le total -->
                </tr>
            </tfoot>
        </table>

        <!-- Formulaire de soumission -->
        <form method="POST" action="{{ path('app_soumettre_devis') }}">
            <div class="mb-3">
                <label for="message" class="form-label">Votre message</label>
                <textarea class="form-control" id="message" name="messageClient" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </main>

    <!-- Footer -->
    <footer>
        {% include 'footer.html.twig' %} 
    </footer>
    <!-- Fin du Footer -->
</body>
</html>
