{# templates/informations.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Informations</title>
</head>
<body>
    <h1>Informations Client</h1>

    {# Erreur de syntaxe : mauvaise utilisation des accolades #}
    {% if user is defined
        <p>Nom : {{ nom }}</p>
        <p>Prénom : {{ prenom }}</p>
        <p>Email : {{ email }}</p>
        <p>Téléphone : {{ telephone }}</p>
        <p>Mot de passe : {{ motdepasse }}</p>
        {% if afficherDevis %}
            <p>Vous pouvez demander un devis.</p>
        {% endif %}
    {% endif %}
</body>
</html>
