<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon panier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-container {
            margin-top: 50px;
        }

        .btn-primary {
            margin-top: 20px;
        }

        .empty-cart {
            background-color: #2e5074;
            color: white;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <header>
        {% include 'navbar.html.twig' %}
    </header>
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10">
                {% if panier|length == 0 %}
                    <div class="empty-cart">
                        <p>Votre panier est vide.</p>
                    </div>
                {% else %}
                <div class="table-container">
                    <h1 class="text-center mb-4">Panier</h1>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Produit</th>
                                   
                                    <th scope="col">Quantité</th>
                                    <th scope="col">Prix de la barre de 1 metre</th>
                                    <th scope="col">Prix final</th>
                                    <th scope="col">Longueur choisi</th>
                                    <th scope="col">Prix découpe (1 découpe c'est 6€)</th>
                                    <th scope="col">Poids</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for panier in panier %}
                                <tr>
                                    
                                    <td>
                                        <img src="{{ asset('images/' ~ panier.getIdProduit().getImage()) }}" alt="Image produit" width="100" height="100">
                                    </td>
                                    <td>{{ panier.getIdProduit().getNom() }}</td>
                                    
                                    <td>{{ panier.quantite }}</td>
                                    <td>{{ panier.getIdProduit().getprix() }} €</td>
                                    <td>
                                        {% if panier.quantite == 1 %}
                                            {{ panier.getIdProduit().getprix() }} €
                                        {% else %}
                                            {{ panier.getIdProduit().getprix() * panier.quantite }} €
                                        {% endif %}
                                    </td>
                                    <td>{{ panier.LongueurMetre }} Mètre</td>
                                    <td>{{ panier.prixDecoupe }} €</td>
                                    <td>{{ panier.Poids }} Kg</td>
                                    <td>
                                        <form action="{{ path('supprimerproduitpanier', {'id': panier.getIdProduit().getId()}) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Poids Total:</strong></td>
                                    <td colspan="5" class="text-right">{{ poidsTotal }} Kg</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Prix total produit: ( 1 metre c'est 4€ donc si ya plus de 4 € cest quil ya forcement plus de 1 metre)</strong></td>
                                    <td colspan="5" class="text-right">{{ prixtotalproduits }} €</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Prix découpe total:</strong></td>
                                    <td colspan="5" class="text-right">{{ prixdecoupetotal }} €</td>
                                </tr>
                                {% for panier in panier %}
                                {% if loop.first %}
                                <tr>
                                    <td colspan="3" class="text-right"><strong>Prix Livraison avec TVA 20 %:</strong></td>
                                    <td colspan="5" class="text-right">{{ panier.prixLivraison }} €</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr style="background-color: green; color: white; font-weight: bold;">
                                    <td colspan="3" class="text-right"><strong>Total TTC:</strong></td>
                                    <td colspan="5" class="text-right">{{ sommeTotal }} €</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    {% if afficherPasserCommande %}
                        <div class="text-center">
                            <a href="{{ path('commandepage') }}" class="btn btn-primary">Passer commande</a>
                            <!--<a href="#" class="btn btn-primary">Vider le panier</a>-->
                            {% if afficherDevis %}
                                <a href="{{ path('demanderdevis') }}" class="btn btn-primary">Demander un devis</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>

</body>
</html>
