{% block body %}
    {% include 'navbar.html.twig' %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <body style="background-color: rgb(33, 34, 61)">
    <div class="container mt-5">
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{% if loop.index == 1 %}
                                    https://www.coremarkmetals.com/files/image/large/STAINLESS_BAR_FLAT_088_3000.jpg
                                {% elseif loop.index == 4 %}
                                    https://www.agrialpro.fr/media/catalog/product/i/m/image_1_88358f1c9fbaf6976108216.jpg?quality=80&fit=bounds&height=700&width=700&canvas=700:700
                                {% elseif loop.index == 2 %}
                                    https://www.ateliergaillard.fr/32-large_default/corniere-a-ailes-egales.jpg
                                {% elseif loop.index == 3 %}
                                    https://www.ateliergaillard.fr/33-large_default/corniere-a-ailes-inegales.jpg
                                {% elseif loop.index == 5 %}
                                    imagesprojet/fer-en-t-40x40x5-mm-a-la-coupe.jpg
                                {% elseif loop.index == 6 %}
                                    imagesprojet/poutre-ipe-100.jpg
                                {% elseif loop.index == 7 %}
                                    imagesprojet/poutrelle-upe.png
                                {% elseif loop.index == 8 %}
                                    imagesprojet/PoutrelleHeb.jpg
                                {% elseif loop.index == 9 %}
                                    imagesprojet/TubesRonds.jpg
                                {% elseif loop.index == 10 %}
                                    imagesprojet/TubesCarrer.jpg
                                {% elseif loop.index == 11 %}
                                    imagesprojet/TubesCarrer.jpg
                                {% elseif loop.index == 12 %}
                                    imagesprojet/Tubesrectangulaire.jpg
                                {% elseif loop.index == 13 %}
                                    imagesprojet/barrerondepleines.jpg
                                {% elseif loop.index == 14 %}
                                    imagesprojet/barrecarrerpleines.jpg
                                {% endif %}" 
                            class="card-img-top" alt="{{ produit.nom }}" style="height: 200px; object-fit: cover;">

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><strong>{{ produit.nom }}</strong></h5>
                            <!--<h5 class="card-title">{{ produit.masseLineaireKgMetre }}</h5>-->
                            <h5 class="card-title">
                                {% if remise %}
                                <span class="badge badge-success" style="background-color: #28a745; font-size: 1.2em; padding: 0.5em;">
                                    Remise de {{ produit.remise }}%
                                </span>
                                {% endif %}
                            </h5>
                            <p id="prixProduit{{ produit.id }}" class="card-text" style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">
                                Prix par mètre <span id="prixInitial{{ produit.id }}">{{ produit.prix | number_format(2, ',', ' ') }} €</span>
                            </p>
                            {% if app.session.get('client_id') %}
                                <form action="{{ path('ajouter_au_panier', {'id': produit.id}) }}" method="post" class="mt-auto" onsubmit="return validateCustomMeasurement({{ produit.id }})">
                                    <div class="mb-3">
                                        <label for="quantite{{ produit.id }}" class="form-label" style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">Quantité</label>

                                        <input type="number" name="quantite" id="quantite{{ produit.id }}" value="1" min="1" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label for="surMesureSelect{{ produit.id }}" class="form-label"  style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">Choisissez votre longueur jusqu'a 6 mètres :</label>
                                    <label style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">  <br>0.01 mettre = 1 cm et 1 c'est 1 metre </label><br>
                                        <br>
                                        <select name="inp" id="surMesureSelect{{ produit.id }}" class="form-control" onchange="toggleCustomMeasurementInput({{ produit.id }})">
                                            <option value="1">1 mètre</option>
                                            <option value="2">2 mètres</option>
                                            <option value="3">3 mètres</option>
                                            <option value="4">4 mètres</option>
                                            <option value="5">5 mètres</option>
                                            <option value="6">6 mètres</option>
                                            <option value="surMesure" >Sur Mesure</option>
                                        </select>
                                        
                                        <input type="number" name="customMeasurement" id="customMeasurementInput{{ produit.id }}" class="form-control mt-2" placeholder="Entrez la mesure en mettre" min="0.01" max="600" step="0.01">


                                        
                                    </div>

                                    <input type="hidden" name="finalMeasurement" id="finalMeasurement{{ produit.id }}">

                                    <button type="submit" class="btn btn-primary w-100">
                                        <i class="bi bi-cart"></i> Ajouter au panier
                                    </button>
                                    {% for message in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                      
                                </form>

                                <form action="{{ path('ajouter_a_la_listedenvie', {'id': produit.id}) }}" method="post" class="mt-3">
                                    <div class="mb-3">
                                        <label for="quantite{{ produit.id }}Envie" class="form-label"  style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">Sélectionner la quantité pour votre liste d'envie:</label>
                                        <input type="number" name="quantite" id="quantite{{ produit.id }}Envie" class="form-control" value="1" min="1">
                                    </div>
                                    <button type="submit" id="heartButton" class="bi bi-heart-fill fs-4 text-primary me-1" style="color: blue; border-radius: 12px;"></button>
                                    <style>
                                        /* Vous pouvez ajouter ceci dans un fichier CSS externe ou dans une balise <style> dans le <head> de votre document */
#heartButton {
    transition: background-color 0.3s ease; /* Pour une transition fluide de la couleur de fond */
}

#heartButton.clicked {
    background-color: rgb(89, 89, 150); /* Couleur de fond lorsque le bouton est cliqué */
}

                                    </style>

                                </form>
                                {% for message in app.flashes('success') %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% else %}
                                <p class="mt-3"  style="font-family: 'Arial', sans-serif; font-size: 16px; font-weight: bold; color: #333;">Veuillez vous connecter, pour ajouter des produits à votre panier et à la liste d'envies.</p>
                                <a href="{{ path('connexion') }}" class="btn btn-primary w-100">Connexion</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eEZUnKUVEMrZqDfFZzSQxlJvK1E21PJoQx9CK2qxBn3x4I5QVbFqCr7GJ3DdP3Z" crossorigin="anonymous"></script>
    <script>
        function toggleCustomMeasurementInput(productId) {
            var surMesureSelect = document.getElementById('surMesureSelect' + productId);
            var customMeasurementInput = document.getElementById('customMeasurementInput' + productId);

            if (surMesureSelect.value === 'surMesure') {
                customMeasurementInput.style.display = 'block';
            } else {
                customMeasurementInput.style.display = 'none';
            }
        }

        function validateCustomMeasurement(productId) {
    var surMesureSelect = document.getElementById('surMesureSelect' + productId);
    var customMeasurementInput = document.getElementById('customMeasurementInput' + productId);
    var finalMeasurementInput = document.getElementById('finalMeasurement' + productId);

    if (surMesureSelect.value === 'surMesure') {
        var customMeasurement = customMeasurementInput.value.trim(); // Récupérer la valeur et supprimer les espaces vides

        if (customMeasurement === '' || isNaN(customMeasurement)) {
            alert('Veuillez entrer une mesure personnalisée valide.');
            return false;
        }

        customMeasurement = parseFloat(customMeasurement); // Convertir en nombre flottant

        if (customMeasurement < 0.1) {
            alert('La mesure personnalisée doit être d\'au moins 1 cm.');
            return false;
        } else if (customMeasurement > 600) {
            alert('La mesure personnalisée ne peut pas dépasser 600 cm.');
            return false;
        } else {
            finalMeasurementInput.value = customMeasurement / 100; // Conversion de cm en mètres
        }
    } else {
        finalMeasurementInput.value = surMesureSelect.value; // Valeur sélectionnée en mètres
    }

    return true;
}

    document.getElementById('heartButton').addEventListener('click', function() {
        this.classList.toggle('clicked');
    });


    </script>
    </body>
    <footer>
        {% include 'footer.html.twig' %}
    </footer>
{% endblock %}
